<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org">
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
         
         <title>ジャンル追加</title>       
     </head>
     <body>
         <div class="tabelog-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 tabelog-container">
                     <div class="row justify-content-center">
                         <div class="col-xl-5 col-lg-6 col-md-8">
                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0"> 
                                     <li class="breadcrumb-item"><a th:href="@{/admin/genre}">ジャンル一覧</a></li>                                                           
                                     <li class="breadcrumb-item active" aria-current="page">ジャンル追加</li>
                                 </ol>
                             </nav> 
                             
                             <h1 class="mb-4 text-center">ジャンル追加</h1>         
                             
                             <form method="post" th:action="@{/admin/genre/create}" th:object="${genreRegisterForm}" enctype="multipart/form-data">                                                            
                                 <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="genre" class="col-form-label text-md-left fw-bold">ジャンル名</label>
                                     </div>
                                     <div class="col-md-8">                                    
                                         <div th:if="${#fields.hasErrors('genre')}" class="text-danger small mb-2" th:errors="*{genre}"></div>                                    
                                         <input type="text" class="form-control" th:field="*{genre}" autofocus>
                                     </div>
                                 </div>
                                 
                                 <div class="form-group d-flex justify-content-center my-4">
                                     <button type="submit" class="btn text-white shadow-sm w-50 tabelog-btn">登録</button>
                                 </div>
                                 
                             </form>                                                                         
                         </div>
                     </div>
                 </div>                
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>      
     </body>
 </html>
