<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
		  <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
         
         <title>民宿一覧</title>       
     </head>
     <body>
         <div class="tabelog-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 tabelog-container">
                     <div class="row justify-content-center">
                         <div class="col-xxl-9 col-xl-10 col-lg-11">
                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0">            
									 <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
									  <li class="breadcrumb-item"><a th:href="@{/stores}">店舗一覧</a></li> 
									  <li class="breadcrumb-item"><a th:href="@{/stores/__${store.id}__}">店舗詳細</a></li>                              
                                     <li class="breadcrumb-item active" aria-current="page">レビュー一覧</li>
                                 </ol>
                             </nav> 
                             
                             <div th:if="${successMessage}" class="alert alert-info">
                                 <span th:text="${successMessage}"></span>
                             </div>  
                             
                             <h2 class="mb-3 text-center"><span th:text="${store.getName()}">民宿名</span> レビュー一覧</h2>
                                 
                             <div class="container">
                            <div class="row">
								 <div class="col-md-6" th:each="review : ${reviewPage}">

										 <div class="card m-1">
                                                 <div class="card-body">                         
												 <h3 class="card-title " th:text="${review.getName}"></h3>
												 <p class="card-text mb-1">
													 <small class="text-warning" th:text="${review.getStar}"></small>
												 </p>
												 <p class="card-text mb-1">
													 <small class="text-dark" th:text="${#dates.format(review.getUpdatedAt(), 'yyyy-MM-dd HH:mm:ss')}"></small>
												 </p>
												 <p class="card-text flex-grow-1 text-font mt-3">
													 <small class="text-dark" th:text="${review.getComments}"></small>
												 </p >
											 </div>
										 </div>
									 
								 </div>
							 </div>
                             </div>   
							 <!-- ページネーション -->
							 <div th:if="${reviewPage.getTotalPages() > 1}" class="d-flex justify-content-center mt-3">
                                 <nav aria-label="民宿一覧ページ">
                                     <ul class="pagination">
                                         <li class="page-item">
                                             <span th:if="${reviewPage.isFirst()}" class="page-link disabled">前</span>
                                             <a th:unless="${reviewPage.isFirst()}" th:href="@{/templates/stores/__${store.getId()}__/review(page = ${reviewPage.getNumber() - 1})}" class="page-link tabelog-page-link">前</a>
                                         </li>
                                         <li th:each="i : ${#numbers.sequence(0, reviewPage.getTotalPages() - 1)}" class="page-item">
                                             <span th:if="${i == reviewPage.getNumber()}" class="page-link active tabelog-active" th:text="${i + 1}"></span>
                                             <a th:unless="${i == reviewPage.getNumber()}" th:href="@{/templates/stores/__${store.getId()}__/review(page = ${i})}" class="page-link tabelog-page-link" th:text="${i + 1}"></a>
                                         </li>
                                         <li class="page-item">                        
                                             <span th:if="${reviewPage.isLast()}" class="page-link disabled">次</span>
                                             <a th:unless="${reviewPage.isLast()}" th:href="@{/templates/stores/__${store.getId()}__/review(page = ${reviewPage.getNumber() + 1})}" class="page-link tabelog-page-link">次</a>
                                         </li>
                                     </ul>
                                 </nav> 
                             </div>               
                         </div>
                     </div>
                 </div>                 
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
   </body>
 </html>          